.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

#boardField {
    margin: auto;
}

.panel-heading {
    text-align: center;
    font-size: 2rem;
    background-color: #0fbcf9;
}

.panel {
    border: 1px solid #0fbcf9;
}

.panel-body {
    padding: 0px !important; 
}

.col-sm-4 a:hover {
    text-decoration: none;
}

.jumbotron {
    background-color: rosybrown;
}

.recentPosts a {
    font-size: 1.5rem;
    color: black;
    
}

.recentPosts div {
    /* background-color: aliceblue; */
    margin: 5px;
    padding: 5px;
}